%h2 Registering New User

= form_for @user do |f|
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit

%p
  or
  = link_to "login", new_session_path

